<div class='content-wrapper'>
  <h1 class='content-title'>EDIT BLOG</h1>

  <%= form_for @blog do |f| %>
    <div class='blog-form-wrapper'>
      <div class='form-title'>Title:</div>
      <%= f.text_field :title, {:class => "form-text-field"} %>
      <div class='form-title'>Content:</div>
      <%= f.text_area :content, {:class => "form-text-area"} %>
    </div>
    <%= f.submit 'SUBMIT', :class => "submit-button" %>
  <% end %>

  <h1 class='content-title'>DELETE BLOG</h1>

  <%= form_for @blog, :url => {:controller => "blogs", :action => "destroy"}, html: {method: 'delete'} do |f| %>
    <%= f.submit 'DELETE', :class => "submit-button" %>
  <% end %>
</div>
