<div class='content-wrapper'>
  <h1 class='content-title'><%= @user.fname.upcase + "'S" %> PROFILE</h1>

  <div class='user-profile-information-wrapper'>
    <div class='user-profile-image'></div>
    <div class='user-profile-information'>
      <div class='profile-information-line'>Name: <%= @user.fname + " " + @user.lname%></div>
      <div class='profile-information-line'>Location: <%= @user.location %></div>
      <div class='profile-information-line'>E-mail: <%= @user.email %></div>
      <div class='profile-information-line'>Birthday: <%= @user.birthday %></div>
    </div>
  </div>

  <% if user_signed_in? %>
    <% if current_user.id == @user.id %>
      <form method='get' action='/users/edit'>
        <button type='submit' class='submit-button'>EDIT / DEL</button>
      </form>
    <% end %>
  <% end %>

  <h1 class='content-title'>BLOGS</h1>

  <% @userblogs.each do |blog| %>
    <div class='blog-listing' style='grid-template-rows: 1.5rem 1fr;'>
      <div class='blog-listing-title'>Title: <a href="/blogs/<%= blog.id %>" class='site-link'><%= blog.title %></a></div>
      <div class='blog-listing-content'><%= blog.content %></div>
    </div>
    <% if user_signed_in? %>
      <% if current_user.id == @user.id %>
        <form method='get' action='/blogs/<%= blog.id %>/edit'>
          <button type='submit' class='submit-button'>EDIT / DEL</button>
        </form>
      <% end %>
    <% end %>
  <% end %>

  <h1 class='content-title'>COMMENTS</h1>

  <% @usercomments.each do |comment| %>
    <% commentsblog = Blog.find(comment.blog_id) %>
    <div class='blog-listing' style='width: 42.5rem; grid-template-rows: 1.5rem 1fr'>
      <div class='blog-listing-title'>Blog: <a href="/blogs/<%= comment.blog_id %>" class='site-link'><%= commentsblog.title %></a></div>
      <div class='blog-listing-content'><%= comment.content %></div>
    </div>
  <% end %>
</div>
