<h1 class='content-title'><%= @user.fname.upcase + "'S" %> PROFILE</div>

<div class='user-profile-information-wrapper'>
  <div class='user-profile-image'></div>
  <div class='user-profile-information'>
    <div class='profile-information-line'>Name: <%= @user.fname + " " + @user.lname%></div>
    <div class='profile-information-line'>Location: <%= @user.location %></div>
    <div class='profile-information-line'>E-mail: <%= @user.email %></div>
    <div class='profile-information-line'>Birthday: <%= @user.birthday %></div>
  </div>
</div>

<% if current_user.id == @user.id %>
  <form method='get' action='/users/edit'>
    <button type='submit' class='submit-button'>EDIT / DEL</button>
  </form>
<% end %>

<h1 class='content-title'>BLOGS</h1>

<% @userblogs.each do |blog| %>
  <div><a href="/blogs/<%= blog.id %>"><%= blog.title %></a></div>
  <div><%= blog.content %></div>
  <% if current_user.id == @user.id %>
    <form method='get' action='/blogs/<%= blog.id %>/edit'>
      <button type='submit'>edit/del blog</button>
    </form>
  <% end %>
  <br>
<% end %>
<br>
<hr>
<br>

<h2> list of user's comments</h2>
<% @usercomments.each do |comment| %>
  <% commentsblog = Blog.find(comment.blog_id) %>
  <div><a href="/blogs/<%= comment.blog_id %>"><%= commentsblog.title %></a></div>
  <div><%= comment.content %></div>
<% end %>
