<div class='content-wrapper'>
  <h1 class='content-title'>LOG IN</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class='user-form-wrapper'>
      <%= f.label :email, "E-mail", :class => "form-title" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-text-field" %>

      <%= f.label :password, :class => "form-title" %>
      <%= f.password_field :password, autocomplete: "current-password", :class => "form-text-field" %>
    </div>

    <div class='remember-me'>
      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      <% end -%>
    </div>

    <div class="actions">
      <%= f.submit "LOG IN", :class => "submit-button" %>
    </div>
  <% end %>
</div>
