<!DOCTYPE html>
<html>
  <head>
    <title>Railsdevrumblr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class='page-wrapper'>

      <nav>
        <li><a href="/" class='logotext'>SAPHFIRE 2.0</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/blogs">Blogs</a></li>

        <% if user_signed_in? %>
          <li><a href="/blogs/new">New Blog</a></li>
          <li><a href="/profile/<%= current_user.id%>">Profile</a></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete%></li>
        <% else %>
          <li><a href="/users/sign_in">Log In</a></li>
          <li><a href="/users/sign_up">Sign Up</a></li>
        <% end %>
      </nav>

      <div>
        <%= yield %>
      </div>

    </div>

  </body>
</html>
